/* CSS Stylesheet */

body {
    padding-top:80px;
    /*background-color: #AFC2D5;*/
}

.nav {
    font-size: 120% !important;
}

.header{
    background-color: white;
    
}

div.header > h1 {
    font-size: 50px !important;
    text-align: center;
}

.container {
    padding-bottom: 20px;
    background-color: transparent;
    width: 90%;
}

#bg1 {
    background: url(static/images/fencing1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#font1 {
    color: white;
}

@media screen and (max-width: 768px) {
    body {
	padding-top: 170px;
    }
    .nav {
	text-align: center;
	font-size: 100% !important;
    }
    .navbar-nav > li > a {
	padding-top:5px !important;
	padding-bottom:5px !important;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-thumbnail {
    width: 200px; /* whatever set width */
    height: 230px;
    display: inline-block; /* or you could float them */
    overflow: hidden;
}

#aboutimgs {
    padding-right: 50px;
    padding-left: 50px;
}