/* CSS Stylesheet */

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    padding-top:80px;
    /*background-color: #AFC2D5;*/
}

.nav {
    font-size: 120% !important;
}

.header{
    background-color: white;
    
}

.ranking {
    max-width: 850px !important;
}
div.header > h1 {
    font-size: 50px !important;
    text-align: center;
}

.container {
    padding-bottom: 20px;
    background-color: transparent;
    width: 90%;
}

#bg1 {
    background: url(static/images/fencing1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#font1 {
    color: white;
}

@media screen and (max-width: 768px) {
    body {
	padding-top: 170px;
    }
    .nav {
	text-align: center;
	font-size: 100% !important;
    }
    .navbar-nav > li > a {
	padding-top:5px !important;
	padding-bottom:5px !important;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-thumbnail {
    width: 200px; /* whatever set width */
    height: 230px;
    display: inline-block; /* or you could float them */
    overflow: hidden;
}

#thumbnail1 .img-thumbnail{
    width: 300px;
    height:330px;
}

#aboutimgs {
    padding-right: 50px;
    padding-left: 50px;
}

#font2 {
    font-family: 'Noticia Text', serif;
}


/*
tr:nth-child(even) {
    background-color: #ADD8E6;
}
*/

/*
thead {
    background-color: #ADD8E6;
}
*/

/*
tr:nth-child(even) {
    background-color: #000000;
}
*/

.homepage thead, .homepage tbody, .rankingpage thead, .rankingpage tbody { display: block; }

.homepage tbody {
    height: 200px;
    overflow-y: auto;
}

.homepage3 thead, .homepage3 tbody { display: block; }

.homepage3 tbody {
    height: 400px;
    overflow-y: auto;
}

.rankingpage th, .homepage th {
    text-align: center !important;
}

tr.homepage {
    text-align: center !important;
}
.rankings {
    width: 750px;
}

.rankingpage tbody {
    height: 160px;
    overflow-y: auto;
    font-weight: normal !important;
}


.homepage2 thead, .homepage2 tbody { display: block; }

.homepage2 tbody {
    height: 170px;       
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.homepage tr:first-child td {
    border-top-width: 2px !important;
}

.homepage th {
    border-bottom-width: 0px !important;
}

div.centerme, .centerme {
    display: table !important;
    text-align: center !important;
    margin: 0 auto !important;
    float: none !important;
    font-weight: normal !important;
}

#colorstrip{
    width: 100%; height: 100px;
    border-style: solid;
    border-color: red;
    background-color: red;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #C11B17;
    border-color: #C11B17;
    color: white;
}

.nav-tabs{
  background-color:#161616;
  color: #fff;
}
.tab-content{
    background-color:#303136;
    color:#fff;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover,
.nav-tabs > .active > a{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#6D6968;
}

#font3 {
    font-family: 'Noticia Text', serif;
    color: white; !important;
}

.list-group-item {
    background-color: #303136; !important;
    color: white; !important;
}

.list-group-item.active, .list-group-item.active:hover {
          background-color: #C11B17;  !important;
          border-color: #fff;  !important;
          color: white;
          }

a.list-group-item{
    color:white !important;
}

a.list-group-item:hover{
    background-color:#484848 !important;
}
