{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block contents %}

<!--
<style>
body {
  background: url(static/images/fencing1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right top;
}
</style>
-->

<style>
body {
  background: linear-gradient(white, black);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
</style>

<div class="container" id="font2">
  <center>
    <h1 id="">About</h1>
  </center>
  <p>Our website is a platform to keep track of PSAL fencing. Cleaner and more specific than the general PSAL website, our system keeps track of schools in each division, the players on their rosters, and the statistics from each and every game.</p>
  <hr>
  <center>
  <h1>Who Are We?</h1>
  <div class="row">
    
    	<img src="static/images/sammi.jpg" alt="Sammi!" class="img-thumbnail">
    	<img src="static/images/kathy.jpg" alt="Kathy!" class="img-thumbnail">
    	<img src="static/images/serena.jpg" alt="Serena!" class="img-thumbnail">
    	<img src="static/images/alice.jpg" alt="Alice!" class="img-thumbnail">
      <p>The Greatest People on Earth</p>

  </div>
</center>
</div>
{% endblock %}
