{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block contents %}

<!--
<style>
body {
  background: url(static/images/fencing1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right top;
}
</style>
-->

<div class="container">
  <center>
    <h1 id="">About</h1>
  </center>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, justo eu volutpat ornare, nibh tellus sollicitudin enim, quis posuere velit mi quis odio. Proin id tempor nibh. Maecenas quis faucibus ligula, eu sagittis turpis. In aliquet ultricies sollicitudin. Aenean tempor facilisis leo, in elementum magna venenatis sed. Phasellus tincidunt turpis vel lacus iaculis euismod. Proin at mollis felis. Integer maximus elit dolor, vel imperdiet erat malesuada ultricies. Nullam consequat sit amet neque id volutpat.</p>
  <hr>
  <center>
  <h1>Who Are We?</h1>
  <div class="row">
    
    	<img src="static/images/sammi.jpg" alt="Sammi!" class="img-thumbnail">
    	<img src="static/images/kathy.jpg" alt="Kathy!" class="img-thumbnail">
    	<img src="static/images/serena.jpg" alt="Serena!" class="img-thumbnail">
    	<img src="static/images/alice.jpg" alt="Alice!" class="img-thumbnail">
      <p>The Greatest People on Earth</p>

  </div>
</center>
</div>
{% endblock %}
