<!DOCTYPE html>
<html lang="en">
  
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
	<div>
	  <ul class="nav navbar-nav navbar-left">
	    <li><a href="/home"><b>Supreme-Waffle</b></a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="/directory">Directory</a></li>
	    <li><a href="/about">About</a></li>
	    <li><a href="/input">Register School</a></li>
	    {% if user == 0 %}
            <li><a href="/create">Create an Account</a></li>
	    <li><a href="/login">Login</a></li>
	    {% else %}
	    <li><a href="/">{{user}}</a></li>
	    <li><a href="/logout">Logout</a></li>
	    {% endif %}
	  </ul>
	</div>
      </div>
    </nav>
  <body>

    {% block contents %} 
    {% endblock %}  
    
  </body>
</html>
