{% extends "base.html" %}

{% block title %} Directory {% endblock %}

{% block contents %}

<div class="container">
  <center>
    <h1>Directory</h1>
  </center>
<hr>
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4" style="overflow-y: auto; height: 600px;">
	<h2>Select a School</h2>
	    <ul>
	      {% for school in schools %}
	      <li><a href="/school/{{school}}">{{school}}</a> </li>
	      {% endfor %}
	    </ul>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, justo eu volutpat ornare, nibh tellus sollicitudin enim, quis posuere velit mi quis odio. Proin id tempor nibh. Maecenas quis faucibus ligula, eu sagittis turpis. In aliquet ultricies sollicitudin. Aenean tempor facilisis leo, in elementum magna venenatis sed. Phasellus tincidunt turpis vel lacus iaculis euismod. Proin at mollis felis. Integer maximus elit dolor, vel imperdiet erat malesuada ultricies. Nullam consequat sit amet neque id volutpat.

Curabitur pulvinar, erat imperdiet cursus venenatis, metus lorem venenatis dui, vitae bibendum eros nisl et risus. Praesent suscipit metus in nisi consequat aliquet. Proin sit amet condimentum ante. Fusce eu augue eu nisl mattis ultrices. Nam vestibulum velit viverra, sagittis est id, porta nulla. Morbi ac turpis sapien. Vestibulum rhoncus efficitur diam, non efficitur nisi pretium ut. Suspendisse non nibh et diam malesuada varius. Nam et porttitor augue.

Nam turpis sem, porttitor a cursus quis, feugiat et arcu. Maecenas laoreet, nisl porta accumsan molestie, neque eros rhoncus risus, a porta lacus ipsum sed augue. In mollis elementum nisl, id vestibulum tellus vulputate eget. Vestibulum dictum ligula ut nisi scelerisque maximus. Donec laoreet, ligula et vulputate tempus, erat est elementum lectus, vehicula posuere felis tellus in neque. Praesent dictum justo sapien, et lacinia justo ornare a. Sed sit amet ligula ut tellus maximus tincidunt. Maecenas ornare posuere urna.

Morbi odio leo, sagittis sit amet mattis vitae, luctus nec nunc. Sed laoreet quam eu mattis ornare. Donec pharetra iaculis turpis, id interdum augue facilisis pulvinar. Cras eleifend dui vitae congue pellentesque. Nulla nec aliquet orci. Aliquam erat volutpat. Praesent condimentum facilisis purus id faucibus. Donec lacus purus, faucibus at risus sed, vulputate ultrices turpis. Fusce fringilla molestie ante, vel egestas risus sagittis quis. Praesent venenatis rhoncus ipsum sed faucibus. Vivamus sit amet turpis arcu. Curabitur lacinia iaculis mollis. Aliquam id venenatis tortor. Maecenas imperdiet felis at convallis condimentum.</p>
      </div>
      <div class="col-sm-9 col-md-6 col-lg-8">
	<h2>Other Stuffs</h2>
	<div class="btn-group">
	  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Select a Year <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a class="dropdown-item" href="#">2015-2016</a>
	    <li><a class="dropdown-item" href="#">2014-2015</a>
	    <li><a class="dropdown-item" href="#">2013-2014</a>
	    <li><a class="dropdown-item" href="#">2012-2013</a>
	  </ul>
	</div>
	<h3>Boys Roster</h3>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	<hr>
	<h3>Girls Roster</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

    </div>
</div>

{% endblock %}
