{% extends "base.html" %}

{% block title %} Directory {% endblock %}

{% block contents %}

<div class="container" id="font2">
  <center>
    <h1>Directory</h1>
  </center>
  <hr>
  <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4" style="overflow-y: auto; height: 475px;">
      <h2>Select a School</h2>
      <div class="list-group">
	{% for school in schools %}
	<p id="{{school}}" class="list-group-item schools">{{school}}</p> 
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-8">
      <h2 id = "current_school">Please Select a School from the Left</h2>
      <a id="more"></a>
      <!--<div class="btn-group">
	<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Select a Year <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  <li><a class="dropdown-item" href="#">2015-2016</a>
	  <li><a class="dropdown-item" href="#">2014-2015</a>
	  <li><a class="dropdown-item" href="#">2013-2014</a>
	  <li><a class="dropdown-item" href="#">2012-2013</a>
	</ul>
      </div>-->
      <h3 class="gender" style="visibility:hidden;">Boys</h3>
      <div class="col-sm-9 col-md-8 col-lg-12" style="overflow-y: auto; height: 150px;">
	<ul class="list-group boys">
	</uk>
      </div>
      <hr>
      <br>
      <br>
      <h3 class="gender" style="visibility:hidden;">Girls</h3>
      <div class="col-sm-9 col-md-8 col-lg-12" style="overflow-y: auto; height: 150px;">
	<ul class="list-group girls">
	</ul>
      </div>
    </div>

  </div>
</div>

{% endblock %}


{% block script %}

<script>
  
  $(".schools").click( function() {
    var school_name = this.id;
    $('.boys').text("");
    $('.girls').text("");
    $('#more').attr("href", "school/" + school_name);
    $('#more').text("More Information");
    $.getJSON("/roster", {school : school_name }, function(r) {
       $('#current_school').text(school_name);
       $('.gender').attr("style", "visibility:visibile;");
       boys = r["boys"];
       for (i = 0; i < boys.length; i++) {
	 $('.boys').append("<li class='list-group-item'><a href='/player/" + boys[i][0] + "/" + boys[i][1] + "'>" + boys[i][2] + " " + boys[i][3] + "</a></li>");
       };
       girls = r["girls"];
       for (i = 0; i < girls.length; i++) {
	 $('.girls').append("<li class='list-group-item'><a href='/player/" + girls[i][0] + "/" + girls[i][1] + "'>" + girls[i][2] + " " + girls[i][3] + "</a></li>");
       };		       
		         
    });
  });


</script>


{% endblock %}
