{% extends "base.html" %}

{% block title %} Edit School {% endblock %}

{% block contents %}

<div class="container" id="font2">
<br><br>
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form role="form" method="POST">
      <div>				
	<h1 class="center2">Edit Information for {{user_school}}</h1>
      </div>
      <hr>
      <div class="form-group">
	<p>Street Address:</p>
	<input type="text" name="street_address" id="street_address" class="form-control input-lg" value="{{school[1]}}" tabindex="2" required>
      </div>
      <p>Borough:</p>
      <div class="form-group">
	<select class="form-control" name="borough" id="borough" required>
	  <option value="" selected disabled>Select Borough</option>
	  {% if school[2] == "Bronx" %}
	  <option value="Bronx" selected>Bronx</option>
	  {% else %}
	  <option value="Bronx">Bronx</option>
	  {% endif %}
	  {% if school[2] == "Brooklyn" %}
	  <option value="Brooklyn" selected>Brooklyn</option>
	  {% else %}
	  <option value="Brooklyn">Brooklyn</option>
	  {% endif %}
	  {% if school[2] == "Manhattan" %}
	  <option value="Manhattan" selected>Manhattan</option>
	  {% else %}
	  <option value="Manhattan">Manhattan</option>
	  {% endif %}
	  {% if school[2] == "Queens" %}
	  <option value="Queens" selected>Queens</option>
	  {% else %}
	  <option value="Queens">Queens</option>
	  {% endif %}
	  {% if school[2] == "Staten Island" %}
	  <option value="Staten Island" selected>Staten Island</option>
	  {% else %}
	  <option value="Staten Island">Staten Island</option>
	  {% endif %}
	</select>
      </div>
      <p>Zipcode:</p>
      <div class="form-group">
	<input type="text" name="zipcode" id="zipcode" class="form-control input-lg" value="{{school[3]}}" tabindex="2" required>
      </div>
      <p>Girls Team Name:</p>
      <div class="form-group">
	<input type="text" name="girls_teamname" id="girls_teamname" class="form-control input-lg" value="{{girls[4]}}" tabindex="2">
      </div>
      <p>Boys Team Name:</p>
      <div class="form-group">
	<input type="text" name="boys_teamname" id="boys_teamname" class="form-control input-lg" value="{{boys[4]}}" tabindex="2">
      </div>
      <p>Division:</p>
      <div class="form-group">
	<input type="text" name="division" id="division" class="form-control input-lg" value="{{boys[5]}}" tabindex="2" required>
      </div>
      <p>Girls Coach Name:</p>
      <div class="form-group">
	<input type="text" name="g_coach" id="g_coach" class="form-control input-lg" value="{{girls[6]}}" tabindex="2" required>
      </div>
      <p>Girls Manager Name:</p>
      <div class="form-group">
	<input type="text" name="g_manager" id="g_manager" class="form-control input-lg" value="{{girls[7]}}" tabindex="2" required>
      </div>
      <p>Boys Coach Name:</p>
      <div class="form-group">
	<input type="text" name="b_coach" id="b_coach" class="form-control input-lg" value="{{boys[6]}}" tabindex="2" required>
      </div>
      <p>Girls Manager Name:</p>
      <div class="form-group">
	<input type="text" name="b_manager" id="b_manager" class="form-control input-lg" value="{{boys[7]}}" tabindex="2" required>
      </div>
      <input type="file" id="fileupload" name="file">
      <hr>
      <div class="row">
	<div class="col-xs-12 col-md-12"><input type="submit" value="Update" class="btn btn-success btn-block btn-lg" tabindex="5"></div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
