{% extends "base.html" %}

{% block title %} School {% endblock %}

{% block contents %}

<style>
  body {
  background: linear-gradient(white, black);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

</style>

<div class="container" id="font2">
  {% if error %}
  <div class="alert alert-danger">
    <p id="error">{{data}}</p>
  </div>
  {% else %}
  <center>
    <div>
      <h1>{{game[0]}} v. {{game[1]}}</h1>
    </div>
    {% if game[0] == user_school or game[1] == user_school%}
    <a href="/edit_event/{{game[0]}}" class="btn btn-default" role="button">Edit Profile</a>
    {% endif %}
  <p>{{game[7]}} Fencing
    <br>Date: {{game[2]}}
    <br>Time: {{game[3]}}
    <br>Location: {{game[6]}}</p>
  </center>

  <div class="panel panel-default">
    <div class="panel-heading">
      <center><b>Game {{game[4]}}</b></center>
    </div>
      <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#foil" role="tab" data-toggle="tab">Foil</a></li>
      <li role="presentation"><a href="#epee" role="tab" data-toggle="tab">Epee</a></li>

<div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="foil">
	<table class="table rankingpage">
	  {% for i in range(data|length) %}
	  {% if data[i][9] == "Foil" and i % 2 == 0%}
	  <thead>
	    <tr>
              <th width="300px">Bout {{data[i][11]}}: {{data[i][9]}}</th>
              <th width="300px">Player 1: {{players[i*2]}}</th>
              <th width="300px">Player 2: {{players[i*2-1]}}</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
              <td width="150px">Player 1 Touches: {{data[i][2]}}</td>
              <td width="150px">Score: {{data[i][3]}}</td>
              <td width="150px">Player 2 Touches: {{data[i][6]}}</td>
              <td width="150px">Score: {{data[i][7]}}</td>
	    </tr>
	  </tbody>
	  {% endif %}
	  {% endfor %}
	</table>
      </div>
      
      <div role="tabpanel" class="tab-pane" id="epee">
	<table class="table rankingpage">
	  {% for i in range(data|length) %}
	  {% if data[i][9] == "Epee" and i % 2 == 0%}
	  <thead>
	    <tr>
              <th width="300px">Bout {{data[i][11]}}: {{data[i][9]}}</th>
              <th width="300px">Player 1: {{players[i*2-1]}}</th>
              <th width="300px">Player 2: {{players[i*2]}}</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
              <td width="150px">Player 1 Touches: {{data[i][2]}}</td>
              <td width="150px">Score: {{data[i][3]}}</td>
              <td width="150px">Player 2 Touches: {{data[i][6]}}</td>
              <td width="150px">Score: {{data[i][7]}}</td>
	    </tr>
	  </tbody>
	  {% endif %}
	  {% endfor %}
	</table>
	
      </div>
</div>
{% endif %}
{% endblock %}

