{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block contents %}

<style>
  body {
  background: linear-gradient(white, black);
  }
  carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
  }
</style>

<!--<div class="container-fluid" style="max-width: 1200px;">-->
<div class="container-fluid" id="font2">
  <center>
    <img src="static/images/swords.png" height="75px" width="75px"></img>
    <h1  id="font2">PSAL Fencing</h1>
    <br>
    <div class="row">
      
      <div class="col-md-4">

	<br>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>

	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src="static/images/fencing1.jpg" width="500" height="380">
	    </div>

	    <div class="item">
	      <img src="static/images/fencing2.jpg" width="500" height="380">
	    </div>
	    
	    <div class="item">
	      <img src="static/images/fencing3.jpg" width="500" height="380">
	    </div>

	  </div>

	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
      </div>

   <div class="col-md-4">
     <div class="panel panel-default">
       <!-- Default panel contents -->
       <div class="panel-heading"><b>Events</b></div>
       <!-- Nav tabs -->
       <ul class="nav nav-tabs" role="tablist">
	 <li role="presentation" class="active"><a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">Upcoming</a></li>
	 <li role="presentation"><a href="#past" aria-controls="past" role="tab" data-toggle="tab">Past</a></li>
       </ul>

       <div class="tab-content">
	 <div role="tabpanel" class="tab-pane active" id="upcoming">
	   <!-- Table -->
	   <table class="table homepage">
	     <thead>
	       <tr>
		 <th width="100px">Date</th>
		 <th witdh="400px">Event</th>
	       </tr>
	     </thead>
	     <tbody>
	       {% for event in future_events %}
	       <tr>
		 <td width="100px">{{event[2]}}</td>
		 <td witdh="400px"><a href="edit_event/{{event[4]}}">{{event[0]}} vs. {{event[1]}}</a></td>
	       </tr>
	       {% endfor %}
	     </tbody>

	   </table>
	 </div>

	 <div role="tabpanel" class="tab-pane" id="past">
	   <!-- Table -->
	   <table class="table homepage">
	     <thead>
	       <tr>
		 <th width="100px">Date</th>
		 <th witdh="400px">Event</th>
	       </tr>
	     </thead>
	     <tbody>
	       {% for event in prev_events %}
	       <tr>
		 <td width="100px">{{event[2]}}</td>
		 <td witdh="400px"><a href="/edit_event/{{event[4]}}">{{event[0]}} vs. {{event[1]}}</a></td>
	       </tr>
	       {% endfor %}
	     </tbody>
	     
	   </table>
	 </div>
	 
       </div>
     </div>
     
     
</center>
</div>  

{% endblock %}
