{% extends "base.html" %}

{% block title %} Input Form {% endblock %}

{% block contents %}

<div class="container">
<br><br>
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form role="form" method="POST" enctype="multipart/form-data">
      <div>	
	<h1 class="center2">Input Data for an Event</h1>
	{% if error %}
	<div class="alert alert-danger">
	  <p id="error">{{message}}.</p>
	</div>
	{% endif %}
      </div>
      <hr>			
      <div class="form-group">
	<input type="number" name="game_id" id="game_id" class="form-control input-lg" placeholder="Game ID" tabindex="1" required>
      </div>
<div class="radio">
	<label class="radio-inline"><input type="radio" name="gender" id="gender" value="Girls">Girls Team</label>
	<label class="radio-inline"><input type="radio" name="gender" id="gender" value="Boys">Boys Team</label>
      </div>
     <div class="form-group">
	<select class="form-control" name="school_home" id="school_home" required>
	  <option value="" selected disabled>Home School</option>
	  {% for school in schools %}
	  <option value="{{school}}">{{school}}</option>
	  {% endfor %}
	</select>
      </div>
      <div class="form-group">
	<select class="form-control" name="school_away" id="school_away" required>
	  <option value="" selected disabled>Away School</option>
	  {% for school in schools %}
	  <option value="{{school}}">{{school}}</option>
	  {% endfor %}
	</select>
      </div>
      <div class="radio">
	<label class="radio-inline"><input type="radio" name="weapon" id="weapon" value="Foil">Foil</label>
	<label class="radio-inline"><input type="radio" name="weapon" id="weapon" value="Epee">Epee</label>
      </div>
      <div class="form-group">
	<input type="date" name="date" id="date" class="form-control input-lg" placeholder="Date" tabindex="2">
      </div>
      <div class="form-group">
	<input type="text" name="location" id="location" class="form-control input-lg" placeholder="Location" tabindex="2">
      </div>
      <hr>

      <input type="hidden" name="input_page_num" value="1">

      <div class="row">
	<div class="col-xs-12 col-md-12"><input type="submit" value="Next" class="btn btn-default btn-block btn-lg" tabindex="5"></div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
