{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block contents %}

<style>
body {
  background: url(static/images/fencing2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" method="POST">
	<div id="font2">
	  <center><h1 class="" id="font1">Login</h1></center>
	</div>
	<hr>
	{% if error %}
	<div class="alert alert-danger">
	  <p id="error">Either your username or password did not match.</p>
	</div>
	{% endif %}
	<div class="form-group">
	  <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username" tabindex="1" required>
	</div>
	<div class="form-group">
	  <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="2" required>
	</div>
	
	<hr>
	<div class="row">
	  <div class="col-xs-12 col-md-12">
	    <input type="submit" value="Sign In" class="btn btn-success btn-block btn-lg" tabindex="3">  
	  </div>
	</div>
      </form>
    </div>
  </div>
  {% endblock %}
