{% extends "base.html" %}

{% block title %} Player {% endblock %}

{% block contents %}


<div class="container">
  <br><br>
  {% if error %}
  <div class="alert alert-danger">
    <p id="error">{{data}}</p>
  </div>
  {% endif %}
  <div>
    <h1 class="center2">Player Profile</h1>
  </div>
  <table class="table">
    <tr>
      <td>Year</td><td>{{players[0]}}</td>
    </tr>
    <tr>
      <td>Name</td><td>{{players[2]}} {{players[3]}}</td>
    </tr>
    <tr>
      <td>Class of</td><td>{{players[6]}}</td>
    </tr>
    <tr>
      <td>Type</td><td>{{players[7]}}</td>
    </tr>
    <tr>
      <td>Matches</td><td>{{players[8]}}</td>
    </tr>
    <tr>
      <td>Wins</td><td>{{players[9]}}</td>
    </tr>
    <tr>
      <td>Losses</td><td>{{players[10]}}</td>
    </tr>
    <tr>
      <td>Touches</td><td>{{players[11]}}</td>
    </tr>
    <tr>
      <td>Position</td><td>{{players[12]}}</td>
    </tr>
  </table>
  <hr>
</div>


{% endblock %}
