{% extends "base.html" %}

{% block title %} Player {% endblock %}

{% block contents %}


<div class="container" id="font2">
  <br><br>
  {% if error %}
  <div class="alert alert-danger">
    <p id="error">{{data}}</p>
  </div>
  {% endif %}
  <div>
    <h1>Player Profile</h1>
    <a href="/edit_player/{{players[0]}}/{{players[1]}}" class="btn btn-default" role="button">Edit Profile</a>
  </div>
   <img src="/static/player/images/{{image}}" onerror="this.style.display='none';" class="img-thumbnail" height="200">
  <table class="table">
    <tr>
      <td>Year</td><td>{{players[0]}}</td>
    </tr>
    <tr>
      <td>Name</td><td>{{players[2]}} {{players[3]}}</td>
    </tr>
    <tr>
      <td>Class of</td><td>{{players[6]}}</td>
    </tr>
    <tr>
      <td>Type</td><td>{{players[7]}}</td>
    </tr>
    <tr>
      <td>Matches</td><td>TO BE CALCULATED</td>
    </tr>
    <tr>
      <td>Wins</td><td>TO BE CALCUALTED</td>
    </tr>
    <tr>
      <td>Losses</td><td>TO BE CALCULATED</td>
    </tr>
    <tr>
      <td>Touches</td><td>TO BE CALCULATED</td>
    </tr>
    <tr>
      <td>Position</td><td>{{players[8]}}</td>
    </tr>
  </table>
  <hr>
</div>


{% endblock %}
