{% extends "base.html" %}

{% block title %} Rankings {% endblock %}

{% block contents %}

<style>
  body {
  background: linear-gradient(white, black);
  }

</style>

<div class="rankings container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><b>Rankings</b></div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#boysfoil" aria-controls="foil" role="tab" data-toggle="tab">Boys Foil</a></li>
      <li role="presentation"><a href="#boysepee" aria-controls="epee" role="tab" data-toggle="tab">Boys Epee</a></li>
      <li role="presentation"><a href="#girlsfoil" aria-controls="foil" role="tab" data-toggle="tab">Girls Foil</a></li>
      <li role="presentation"><a href="#girlsepee" aria-controls="epee" role="tab" data-toggle="tab">Girls Epee</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="boysfoil">
	<!-- Table -->
	<table class="table rankingpage">
	  <thead>
	    <tr>
	      <th width="50px">#</th>
	      <th width="200px">Player</th>
	      <th width="500px">School</th>
	      <th width="100px">Indicator</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% set count = 1 %}
	    {% for person in fb %}
	    <tr>
	      <td width="50px">{{count}}</td>
	      <td width="200px">{{person[1]}}</td>
	      <td width="500px">{{person[0]}}</td>
	      <td width="100px">{{person[2]}}</td>
	    </tr>
	    {% set count = count + 1 %}
	    {% endfor %}
	  </tbody>

	</table>
      </div>

      <div role="tabpanel" class="tab-pane" id="boysepee">
	<!-- Table -->
	<table class="table rankingpage">
	  <thead>
	    <tr>
	      <th width="50px">#</th>
	      <th width="200px">Player</th>
	      <th width="500px">School</th>
	      <th width="100px">Indicator</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% set count = 1 %}
	    {% for person in eb %}
	    <tr>
	      <td width="50px">{{count}}</td>
	      <td width="200px">{{person[1]}}</td>
	      <td width="500px">{{person[0]}}</td>
	      <td width="100px">{{person[2]}}</td>
	    </tr>
	    {% set count = count + 1 %}
	    {% endfor %}
	  </tbody>

	</table>
      </div>

      <div role="tabpanel" class="tab-pane" id="girlsfoil">
	<!-- Table -->
	<table class="table rankingpage">
	  <thead>
	    <tr>
	      <th width="50px">#</th>
	      <th width="200px">Player</th>
	      <th width="500px">School</th>
	      <th width="100px">Indicator</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% set count = 1 %}
	    {% for person in fg %}
	    <tr>
	      <td width="50px">{{count}}</td>
	      <td width="200px">{{person[1]}}</td>
	      <td width="500px">{{person[0]}}</td>
	      <td width="100px">{{person[2]}}</td>
	    </tr>
	    {% set count = count + 1 %}
	    {% endfor %}
	  </tbody>

	</table>
      </div>

      <div role="tabpanel" class="tab-pane" id="girlsepee">
	<!-- Table -->
	<table class="table rankingpage">
	  <thead>
	    <tr>
	      <th width="50px">#</th>
	      <th width="200px">Player</th>
	      <th width="500px">School</th>
	      <th width="100px">Indicator</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% set count = 1 %}
	    {% for person in eg %}
	    <tr>
	      <td width="50px">{{count}}</td>
	      <td width="200px">{{person[1]}}</td>
	      <td width="500px">{{person[0]}}</td>
	      <td width="100px">{{person[2]}}</td>
	    </tr>
	    {% set count = count + 1 %}
	    {% endfor %}
	  </tbody>

	</table>
      </div>
 
    </div>
  </div>
</div>

{% endblock %}
