{% extends "base.html" %}

{% block title %} Input Form {% endblock %}

{% block contents %}

<div class="container">
<br><br>
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form role="form" method="POST">
      {% if error %}
      <div class="alert alert-danger">
	<p id="error">{{message}}</p>
      </div>
      {% endif %}
      <div>
	<h1 class="center2">Register a School Team</h1>
      </div>
      <hr>
      <!--<div class="form-group">
	<input type="text" name="school_name" id="school_name" class="form-control input-lg" placeholder="Name of School" tabindex="1" required>
      </div>  Not Necessary-->
      <div class="form-group">
	<input type="text" name="street_address" id="street_address" class="form-control input-lg" placeholder="School Address" tabindex="2" required>
      </div>
      <div class="form-group">
	<select class="form-control" name="borough" id="borough" required>
	  <option value="" selected disabled>Select Borough</option>
	  <option value="Bronx">Bronx</option>
	  <option value="Brooklyn">Brooklyn</option>
	  <option value="Manhattan">Manhattan</option>
	  <option value="Queens">Queens</option>
	  <option value="Staten Island">Staten Island</option>
	</select>
      </div>
      <div class="form-group">
	<input type="text" name="zipcode" id="zipcode" class="form-control input-lg" placeholder="Zipcode" tabindex="2" required>
      </div>
      <div class="form-group">
	<input type="text" name="team" id="team" class="form-control input-lg" placeholder="Team Name" tabindex="2">
      </div>
      <div class="radio">
	<label class="radio-inline"><input type="radio" name="gender" id="gender" value="Girls">Girls' Team</label>
	<label class="radio-inline"><input type="radio" name="gender" id="gender" value="Boys">Boys' Team</label>
      </div>
      <div class="form-group">
	<input type="text" name="division" id="division" class="form-control input-lg" placeholder="Division" tabindex="2" required>
      </div>
      <div class="form-group">
	<input type="text" name="coach" id="coach" class="form-control input-lg" placeholder="Name of Coach" tabindex="2" required>
      </div>
      <div class="form-group">
	<input type="text" name="manager" id="manager" class="form-control input-lg" placeholder="Manager" tabindex="2" required>
      </div>
      
      <hr>
      <div class="row">
	<div class="col-xs-12 col-md-12"><input type="submit" value="Register" class="btn btn-success btn-block btn-lg" tabindex="5"></div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
