{% extends "base.html" %}

{% block title %} School {% endblock %}

{% block contents %}



<div class="container" id="font2">
  <br><br>
  {% if error %}
  <div class="alert alert-danger">
    <p id="error">{{data}}</p>
  </div>
  {% else %}
  <center>
    <div>
      <h1>{{school_name}}</h1>
    </div>
    {% if school_name == user_school %}
    <a href="/edit_school" class="btn btn-default" role="button">Edit Profile</a>
    {% endif %}

    {% if data|length > 0 %}
    <h3>{{data[0][0][1]}} 
      <br>
      {{data[0][0][2]}}, NY, {{data[0][0][3]}}</h3>
    <h3>Division: {{data[0][0][5]}}</h3>

  </center>
  
  <div class="row">
    <center>
    <canvas id="chart1" width="250" height="250"></canvas>
    <canvas id="chart2" width="250" height="250"></canvas>
    <canvas id="chart3" width="250" height="250"></canvas>
    <canvas id="chart4" width="250" height="250"></canvas>
    </center>
  </div>
  <center>
  <div class="row">

    <div class="col-lg-5">
      
      <hr>
      <h3><p>{{data[0][0][8]}} Team: {{data[0][0][4]}}</p></h3>
      <p>Coach: {{data[0][0][6]}}</p>
      <p>Manager: {{data[0][0][7]}}</p>
      <img class="img-thumbnail" id="thumbnail1" src="/static/school/images/{{images[0]}}" onerror="this.style.display='none';" height="400">
      <hr>
      {% for player in girls %}
      <p><a href="/player/{{player[0]}}/{{player[1]}}">{{player[2]}} {{player[3]}}</a> - Class of {{player[6]}}, {{player[7]}}</p>
      {% endfor %}
    </div>
    {% endif %}
    
    {% if data|length == 2 %}
    <div class="col-lg-5">
      <hr>
      <h3><p>{{data[0][1][8]}} Team: {{data[0][1][4]}}</p></h3>
      <p>Coach: {{data[0][1][6]}}</p>
      <p>Manager: {{data[0][1][7]}}</p>
      <img class="img-thumbnail" id="thumbnail1" src="/static/school/images/{{images[1]}}" onerror="this.style.display='none';" height="200" class="img-thumbnail">
      <hr>
      {% for player in boys %}
      <p><a href="/player/{{player[0]}}/{{player[1]}}">{{player[2]}} {{player[3]}}</a> - Class of {{player[6]}}, {{player[7]}}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  </center>
</div>

{% endif %}
{% endblock %}

{% block script %}
<script>
console.log("Hello");
var ctx = document.getElementById("chart1").getContext("2d");
var ctx2 = document.getElementById("chart2").getContext("2d");
var ctx3 = document.getElementById("chart3").getContext("2d");
var ctx4 = document.getElementById("chart4").getContext("2d");

var options = {
    responsive: false,
    maintainAspectRatio: true,
    scales:
    {
        xAxes: [{
            display: false
        }]
    }
}

school_name = "{{data[0][0][0]}}"

$.getJSON("/graph", {school: school_name}, function(r) {
    /* GIRLS EPEE CHART */
    var data = {
	labels: [],
	datasets: [
	    {
		label: "",
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(75,192,192,0.4)",
		pointBackgroundColor: "#fff",
		data: []
	    },
	]
    }
    
    var girls_epee = r[0];
       
    for (i = 0; i < girls_epee.length; i++) {
	data.labels.push(girls_epee[i][1]);
	data.datasets[0].data.push(girls_epee[i][2]);
    }
    
    data.datasets[0].label = "Girls Epee";
    
    var BarChart = new Chart(ctx, {
	type: 'bar',
	data: data,
	options: options
    });


    /* GIRLS FOIL CHART */
    var data2 = {
	labels: [],
	datasets: [
	    {
		label: "",
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(75,192,192,0.4)",
		pointBackgroundColor: "#fff",
		data: []
	    },
	]
    }
    
    var girls_foil = r[1];
       
    for (i = 0; i < girls_foil.length; i++) {
	data2.labels.push(girls_foil[i][1]);
	data2.datasets[0].data.push(girls_foil[i][2]);
    }
    
    data2.datasets[0].label = "Girls Foil";
    
    var BarChart = new Chart(ctx2, {
	type: 'bar',
	data: data2,
	options: options
    });


    /* BOYS EPEE CHART */
    var data3 = {
	labels: [],
	datasets: [
	    {
		label: "",
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(75,192,192,0.4)",
		pointBackgroundColor: "#fff",
		data: []
	    },
	]
    }
    
    var boys_epee = r[2];
       
    for (i = 0; i < boys_epee.length; i++) {
	data3.labels.push(boys_epee[i][1]);
	data3.datasets[0].data.push(boys_epee[i][2]);
    }
    
    data3.datasets[0].label = "Boys Epee";
    
    var BarChart = new Chart(ctx3, {
	type: 'bar',
	data: data3,
	options: options
    });


    /* BOYS FOIL CHART */
    var data4 = {
	labels: [],
	datasets: [
	    {
		label: "",
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(75,192,192,0.4)",
		pointBackgroundColor: "#fff",
		data: []
	    },
	]
    }
    
    var boys_foil = r[0];
       
    for (i = 0; i < boys_foil.length; i++) {
	data4.labels.push(boys_foil[i][1]);
	data4.datasets[0].data.push(boys_foil[i][2]);
    }
    
    data4.datasets[0].label = "Boys Foil";
    
    var BarChart = new Chart(ctx4, {
	type: 'bar',
	data: data4,
	options: options
    });
});
</script>
{% endblock %}
