{% extends "base.html" %}

{% block title %} School {% endblock %}

{% block contents %}



<div class="container">
  <br><br>
  {% if error %}
  <div class="alert alert-danger">
    <p id="error">{{data}}</p>
  </div>
  {% else %}
  <center>
    <div>
      <h1>{{data[0][0][0]}}</h1>
    </div>
    <a href="/edit_school" class="btn btn-default" role="button">Edit Profile</a>
    <h3>{{data[0][0][1]}} 
      <br>
      {{data[0][0][2]}}, NY, {{data[0][0][3]}}</h3>
    <h3>Division: {{data[0][0][5]}}</h3>

  </center>

  <div class="row">

    <div class="col-lg-6">
      
      <hr>
      <canvas id="chart1" width="300" height="300"></canvas>
      <hr>
      <h3><p>{{data[0][0][8]}} Team: {{data[0][0][4]}}</p></h3>
      <p>Coach: {{data[0][0][6]}}</p>
      <p>Manager: {{data[0][0][7]}}</p>
      <img class="img-thumbnail" id="thumbnail1" src="/static/school/images/{{images[0]}}" onerror="this.style.display='none';" height="400">
      <hr>
      {% for player in girls %}
      <p><a href="/player/{{player[0]}}/{{player[1]}}">{{player[2]}} {{player[3]}}</a> - Class of {{player[6]}}, {{player[7]}}</p>
      {% endfor %}
    </div>

    <div class="col-lg-6">
      <hr>
      <canvas id="chart2" width="300" height="300"></canvas>
      <hr>
      <h3><p>{{data[0][1][8]}} Team: {{data[0][1][4]}}</p></h3>
      <p>Coach: {{data[0][1][6]}}</p>
      <p>Manager: {{data[0][1][7]}}</p>
      <img class="img-thumbnail" id="thumbnail1" src="/static/school/images/{{images[1]}}" onerror="this.style.display='none';" height="200" class="img-thumbnail">
      <hr>
      {% for player in boys %}
      <p><a href="/player/{{player[0]}}/{{player[1]}}">{{player[2]}} {{player[3]}}</a> - Class of {{player[6]}}, {{player[7]}}</p>
      {% endfor %}
    </div>

  </div>
</div>

{% endif %}
{% endblock %}

{% block script %}
<script>
  console.log("Hello");
  var ctx = document.getElementById("chart1").getContext("2d");
  var ctx2 = document.getElementById("chart2").getContext("2d");
  
  var options = {
  responsive: false,
  maintainAspectRatio: true,
  scaleShowLabels : false
  }
  
  school_name = "{{data[0][0][0]}}"

  $.getJSON("/graph", {school: school_name}, function(r) {
  var data = {
  labels: [],
  datasets: [
  {
  label: "",
  fill: false,
  lineTension: 0.1,
  backgroundColor: "rgba(75,192,192,0.4)",
  pointBackgroundColor: "#fff",
  data: []
  },
  {
  label: "",
  fill: false,
  lineTension: 0.1,
  backgroundColor: "#34FFA0",
  data: []
  }
  ]
  }
  data.datasets[0].data = r[0][0];
  data.labels = r[0][1];
  data.datasets[0].label = "Girl's Epee";
  
  data.datasets[1].data = r[1][0];
  data.labels = data.labels.concat(r[1][1]);
  data.datasets[1].label = "Girl's Foil";
  
  var BarChart = new Chart(ctx, {
  type: 'bar',
  data: data,
  options: options
  });

  var data2 = {
  labels: [],
  datasets: [
  {
  label: "",
  fill: false,
  lineTension: 0.1,
  backgroundColor: "rgba(75,192,192,0.4)",
  pointBackgroundColor: "#fff",
  data: [],
  },
  {
  label: "",
  fill: false,
  lineTension: 0.1,
  backgroundColor: "#34FFA0",
  pointBackgroundColor: "#fff",
  data: [],
  }
  ]
  }
  data2.datasets[0].data = r[2][0];
  data2.labels = r[2][1];
  data2.datasets[0].label = "Boys's Epee";
  data2.datasets[1].data = r[3][0];
  console.log(data2.labels)
  //data2.labels = data2.lables.concat(r[3][1]);
  data2.datasets[1].label = "Boys's Foil";
  var BarChart = new Chart(ctx2, {
  type: 'bar',
  data: data2,
  options: options
  });
  });

  
</script>
{% endblock %}
