{% extends "base.html" %}

{% block title %} School {% endblock %}

{% block contents %}


<div class="container">
  <br><br>
  {% if error %}
  <div class="alert alert-danger">
    <p id="error">{{data}}</p>
  </div>
  {% else %}
  <div>
    <h1 class="center2">{{data[0][0]}}</h1>
  </div>
  <hr>
  <p>Address: {{data[0][1]}}</p>
  <p>Zipcode: {{data[0][3]}}</p>
  <p>Borough: {{data[0][2]}}</p>
  <p>Division: {{data[0][5]}}</p>
  
  {% for i in range(0,data|length) %}
  <hr>
  <p>{{data[i][8]}}' Team {{data[i][4]}}</p>
  <p>Coach: {{data[i][6]}}</p>
  <p>Manager: {{data[i][7]}}</p>
  {% endfor %}
  {% endif %}
  
  <hr>
  <h3>Boys Team</h3>
  <p> Number of Games: {{boys_scores[0]}}</p>
  <p> Total Score: {{boys_scores[1]}}</p>
  <hr>
  {% for player in boys %}
  <p><a href="/player/{{player[0]}}/{{player[1]}}">{{player[2]}} {{player[3]}}</a> - Class of {{player[6]}}, {{player[7]}}</p>
  {% endfor %}

  <h3>Girls Team</h3>
  <p> Number of Games: {{girls_scores[0]}}</p>
  <p> Total Score: {{girls_scores[1]}}</p>
  <hr>
  {% for player in girls %}
  <hr>
  <p><a href="/player/{{player[0]}}/{{player[1]}}">{{player[2]}} {{player[3]}}</a> - Class of {{player[6]}}, {{player[7]}}</p>
  {% endfor %}
</div>


{% endblock %}
